/* PasswordResetPage.module.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: var(--background-color);
  padding-left: 20px;
  padding-right: 20px;
}

.resetBox {
  background: var(--card-background);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px var(--shadow-color);
  width: clamp(300px, 80vw, 400px);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: var(--text-primary);
}

.error {
  color: var(--danger-color);
  margin-bottom: 10px;
}

.message {
  color: var(--success-color);
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 12px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  background-color: var(--input-background);
  transition: border 0.3s;
}

input::placeholder {
  color: var(--text-secondary);
}

input:focus {
  border-color: var(--accent-color);
  background-color: var(--input-focus-background);
}

button {
  padding: 12px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--accent-hover);
}

p {
  margin-top: 10px;
  color: var(--success-color);
  font-size: 0.9rem;
}

@media (max-width: 430px) {
  .resetBox {
    width: 50vw;
  }
}
