/* ReviewCollectionPage.module.css */
.container {
  min-height: 90vh;
  width: 65vw;
  margin: 0 auto;
}

.error {
  color: var(--danger-color);
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    width: 90vw;
  }
}
