.layout {
  display: flex;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  margin-left: 205px; /* Width of DesktopSidebar */
  padding: 20px;
  min-height: 100vh;
  background-color: var(--background-color);
  margin-top: -10px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .mainContent {
    width: 90vw;
    margin: 0 12px;
    margin-top: 50px;
    padding: 0;
  }
}
